<footer class="footer">
    <div class="container">
        <div class="row footer-info">
            <div class="col-sm-12 col-md-4 col-lg-4 left">
                <h2>Newsletter</h2>
                <div>
                    <input type="text" name="email" id="" placeholder="Enter your email">
                    <button type="button">Subscribe</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 center">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-5">
                        <h5>Support</h5>
                        <p><a href="#">About Us</a></p>
                        <p><a href="#">Careers</a></p>
                        <p><a href="#">Blog</a></p>
                    </div>
                    <div class="col-sm-6 col-md-7 col-lg-7">
                        <h5>Useful Links</h5>
                        <p><a href="#">Payment & Tax</a></p>
                        <p><a href="#">Terms of service</a></p>
                        <p><a href="#">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-5 right">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        <h5>Our Menu</h5>
                        <p><a href="#">Best Product</a></p>
                        <p><a href="#">Category</a></p>
                    </div>
                    <div class="col-sm-6 col-md-7 col-lg-8">
                        <h5>Address</h5>
                        <p><a href="#">JL. Setiabudhi No. 193 Sukasari, Bandung West Java, Indonesia</a></p>
                        <p><a href="#">hallo@daunku.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row footer-copyright">
            <p>© 2023 davixq - All rights reserved.</p>
        </div>
    </div>
</footer>