<header>
    @await Html.PartialAsync("./_MainMenu.cshtml")
    <div class="header-banner">
        <h2>Bring Serenity to Your Place With Interior Plants</h2>
        <p>find your dream plant for you home decoration with us, and we will make it happen.</p>
    </div>
    <div class="header-banner-search">
        <form action="" method="get">
            <input type="search" placeholder="Search plant" />
            <button type="submit">
                <iconify-icon icon="majesticons:search-line"></iconify-icon>
            </button>
        </form>
    </div>
</header>