@{
    ViewData["Title"] = "Sign In";
}
@section SignInStyle {
    <link rel="stylesheet" href="~/css/authentication.css">
}
@model PlantShop.FormValidations.SignInForm
<div class="row sign-in">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 auth-image">
        <img src="~/images/sign-in.jpg">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 auth-info">
        <div class="row">
            <div class="col-md-12 auth-info-title">
                <p>Not a member? <span><a href='@Url.ActionLink("SignUp", "Authentication")'>Register now!</a></span></p>
            </div>
            <div class="col-md-12 auth-info-form">
                <div class="form-caption">
                    <h1>Hello Again!</h1>
                    <p>Welcome back you've been missed!</p>
                </div>
                <form method="post" asp-controller="Authentication" asp-action="SignInAction">
                    @if(TempData["Success"] != null){
                        <div class="alert alert-success" role="alert">@TempData["Success"]</div>
                    }
                    @if(TempData["Error"] != null){
                        <div class="alert alert-danger" role="alert">@TempData["Error"]</div>
                    }
                    <div class="form-fields">
                        <div class="col-lg-12">
                            <input asp-for="Phone" class="field-control" type="text" placeholder="Phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <input asp-for="Password" class="field-control" type="password" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-password-recovery">
                        <a href="#">Recovery password</a>
                    </div>
                    <button>Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
