@{
    ViewData["Title"] = "Home Page";
}

<!-- 1 -->
<section class="highlight">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="highlight-items row">
                <div class="col-sm-2 col-md-2 col-lg-3">
                    <img src="~/images/akar-icons_shipping-box-02.png" alt="" srcset="">
                </div>
                <div class="col-sm-5 col-md-8 col-lg-7">
                    <h4>Free Shapping</h4>
                    <p>No charge for each delivery</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="highlight-items row">
                <div class="col-sm-2 col-md-2 col-lg-3">
                    <img src="~/images/fluent_wallet-credit-card-16-regular.png" alt="" srcset="">
                </div>
                <div class="col-sm-5 col-md-8 col-lg-7">
                    <h4>Quick Payment</h4>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="highlight-items row">
                <div class="col-sm-2 col-md-2 col-lg-3">
                    <img src="~/images/akar-icons_customer-service.png" alt="" srcset="">
                </div>
                <div class="col-sm-5 col-md-8 col-lg-7">
                    <h4>24/7 Support</h4>
                    <p>Quick support</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 2 -->
<section class="best-seller">
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-3 best-seller-title">
            <h1>Best Seller Product</h1>
            <a href="#">See all collection
                <span>
                    <img src="~/images/bi_arrow-right-short.png" alt="">
                </span>
            </a>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
            <div class="product-item">
                <img class="plant-item" src="~/images/camille-plant-terracotta-pot-home-decor-object-1.png" alt="">
                <img class="product-shadow" src="~/images/ellipse-6.png" alt="">
                <div class="product-card">
                    <div>
                        <div>
                            <h4>Cammile</h4>
                            <div>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                            </div>
                        </div>
                        <div class="product-price">
                            <span>$<input type="text" name="" id="" value="65.00" disabled></span>
                            <button>
                                <img src="~/images/akar-icons_circle-plus-fill.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
            <div class="product-item">
                <img class="plant-item" src="~/images/peace-lily-plant-terracotta-pot-home-decor-object-1.png" alt="">
                <img class="product-shadow" src="~/images/ellipse-6.png" alt="">
                <div class="product-card">
                    <div>
                        <div>
                            <h4>Cammile</h4>
                            <div>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                            </div>
                        </div>
                        <div class="product-price">
                            <input type="text" name="" id="" value="$65.00" disabled>
                            <button>
                                <img src="~/images/akar-icons_circle-plus-fill.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
            <div class="product-item">
                <img class="plant-item" src="~/images/snake-plant-terracotta-pot-home-decor-1.png" alt="">
                <img class="product-shadow" src="~/images/ellipse-6.png" alt="">
                <div class="product-card">
                    <div>
                        <div>
                            <h4>Cammile</h4>
                            <div>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                                <iconify-icon icon="carbon:star-filled"></iconify-icon>
                            </div>
                        </div>
                        <div class="product-price">
                            <input type="text" name="" id="" value="$65.00" disabled>
                            <button>
                                <img src="~/images/akar-icons_circle-plus-fill.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 3 -->
<section class="reference">
    <div class="reference-title">
        <h2>Interior Plant Reference</h2>
        <p>make your home so comfortable with refreshing plants</p>
    </div>
    <div class="reference-collection row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="~/images/brown-sofa-wooden-table-living-room-interior-with-plant-concrete-wall.png"
                alt="">
            <img src="~/images/high-angle-desk-arrangement-with-plants.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="~/images/unsplash_MBsReSZ2WNM.png" alt="">
        </div>
    </div>
</section>
<!-- 4 -->
<section class="main-features">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 feature-content">
            <div class="feature-title">
                <h3>How to care for plants</h3>
                <small>Take care of plants with all your heart</small>
            </div>
            <div class="feature-points">
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/images/icon-park-outline_sun.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>Adjust Lighting</p>
                        <small>When caring for indoor plants, make sure the room temperature is neither too
                            cold nor too hot</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/images/akar-icons_water.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>Don't water too often</p>
                        <small>Watering ornamental plants indoors does not have to be done every day</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/images/charm_plant-pot.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>Don't water too often</p>
                        <small>Watering ornamental plants indoors does not have to be done every
                            day.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/images/tabler_temperature.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>Fertilize regularly</p>
                        <small>The nutrients most indoor houseplants need are nitrogen for balance and
                            potassium for stem strength</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 feature-image">
            <img src="~/images/unsplash_sEApBUS4fIk.png" alt="" srcset="">
        </div>
    </div>
</section>