@{
    ViewData["Title"] = "Sign In";
}
@section SignInStyle {
    <link rel="stylesheet" href="~/css/signin.css">
}
<div class="row sign-in">
    <div class="col-md-6 col-6 sign-in-image">
        <img src="~/images/sign-in.jpg">
    </div>
    <div class="col-md-6 col-6 sign-in-info">
        <div class="row">
            <div class="col-md-12 sign-in-info-title">
                <p>Not a member? <span>Register now!</span></p>
            </div>
            <div class="col-md-12 sign-in-info-form">
                <div class="form-caption">
                    <h1>Hello Again!</h1>
                    <p>Welcome back you've been missed!</p>
                </div>
                <form>
                    <div class="form-fields">
                        <input type="text" placeholder="Phone" name="phone" />
                        <input type="text" placeholder="Password" name="password" />
                    </div>
                    <div class="form-password-recovery">
                        <a href="#">Recovery password</a>
                    </div>
                    <button>Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
