@{
    ViewData["Title"] = "Blogs";
}

<div class="qodef-grid-item qodef-page-content-section qodef-col--12">
<div data-elementor-type="wp-page" data-elementor-id="474" class="elementor elementor-474">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-318198b elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="318198b" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d37a172" data-id="d37a172" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-0532f27 elementor-widget elementor-widget-amfissa_core_blog_list" data-id="0532f27" data-element_type="widget" data-widget_type="amfissa_core_blog_list.default">
                        <div class="elementor-widget-container">
                            <div class="qodef-shortcode qodef-m  qodef-blog qodef--list qodef-item-layout--standard qodef--hide-top-info qodef-grid qodef-layout--masonry  qodef-gutter--large qodef-col-num--3 qodef-item-layout--standard qodef--no-bottom-space qodef-pagination--off qodef-responsive--custom qodef-col-num--1440--3 qodef-col-num--1366--3 qodef-col-num--1024--2 qodef-col-num--768--1 qodef-col-num--680--1 qodef-col-num--480--1" data-options="{&quot;plugin&quot;:&quot;amfissa_core&quot;,&quot;module&quot;:&quot;blog\/shortcodes&quot;,&quot;shortcode&quot;:&quot;blog-list&quot;,&quot;post_type&quot;:&quot;post&quot;,&quot;next_page&quot;:&quot;2&quot;,&quot;max_pages_num&quot;:1,&quot;behavior&quot;:&quot;masonry&quot;,&quot;columns&quot;:&quot;3&quot;,&quot;columns_responsive&quot;:&quot;custom&quot;,&quot;columns_1440&quot;:&quot;3&quot;,&quot;columns_1366&quot;:&quot;3&quot;,&quot;columns_1024&quot;:&quot;2&quot;,&quot;columns_768&quot;:&quot;1&quot;,&quot;columns_680&quot;:&quot;1&quot;,&quot;columns_480&quot;:&quot;1&quot;,&quot;space&quot;:&quot;large&quot;,&quot;posts_per_page&quot;:&quot;12&quot;,&quot;orderby&quot;:&quot;date&quot;,&quot;order&quot;:&quot;DESC&quot;,&quot;additional_params&quot;:&quot;tax&quot;,&quot;tax&quot;:&quot;category&quot;,&quot;tax_slug&quot;:&quot;dense&quot;,&quot;layout&quot;:&quot;standard&quot;,&quot;title_tag&quot;:&quot;h4&quot;,&quot;excerpt_length&quot;:&quot;137&quot;,&quot;hide_top_info&quot;:&quot;yes&quot;,&quot;pagination_type&quot;:&quot;no-pagination&quot;,&quot;object_class_name&quot;:&quot;AmfissaCore_Blog_List_Shortcode&quot;,&quot;taxonomy_filter&quot;:&quot;category&quot;,&quot;additional_query_args&quot;:{&quot;tax_query&quot;:[{&quot;taxonomy&quot;:&quot;category&quot;,&quot;field&quot;:&quot;slug&quot;,&quot;terms&quot;:&quot;dense&quot;}]},&quot;space_value&quot;:25}">
                                <div class="qodef-grid-inner clear qodef--masonry-init row">
                                    <div class="qodef-grid-masonry-sizer"></div>
                                    <div class="qodef-grid-masonry-gutter"></div>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2854 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/08/" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" asp-controller="Blog" asp-action="BlogDetail" asp-route-id="1>
                                                    <img rel="preload" width="1400" height="980" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew1.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew1-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew1-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew1-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew1-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" asp-controller="Blog" asp-action="BlogDetail" asp-route-id="1 class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="1 rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" asp-controller="Blog" asp-action="BlogDetail" asp-route-id="1 class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/the-best-quality-jars/">
                                                        The best quality jars	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/the-best-quality-jars/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2853 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" asp-controller="Blog" asp-action="BlogDetail" asp-route-id="1" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/making-the-best-brine/">
                                                    <img width="1400" height="980" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a href="https://amfissa.qodeinteractive.com/category/dense/" rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/making-the-best-brine/#respond" class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/making-the-best-brine/">
                                                        Making the best brine	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/making-the-best-brine/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2851 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/08/" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/shaking-the-olive-trees/">
                                                    <img width="1400" height="980" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a href="https://amfissa.qodeinteractive.com/category/dense/" rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/shaking-the-olive-trees/#respond" class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/shaking-the-olive-trees/">
                                                        Shaking the olive trees	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/shaking-the-olive-trees/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2847 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/08/" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/the-oldest-olive-tree/">
                                                    <img width="1400" height="980" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a href="https://amfissa.qodeinteractive.com/category/dense/" rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/the-oldest-olive-tree/#respond" class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/the-oldest-olive-tree/">
                                                        The oldest olive tree	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/the-oldest-olive-tree/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2845 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/08/" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/olives-of-the-new-world/">
                                                    <img width="1400" height="980" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew3.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew3-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew3-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew3-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew3-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a href="https://amfissa.qodeinteractive.com/category/dense/" rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/olives-of-the-new-world/#respond" class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/olives-of-the-new-world/">
                                                        Olives of the new world	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/olives-of-the-new-world/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2843 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/08/" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/top-tier-olive-trees/">
                                                    <img width="1400" height="981" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew9.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew9-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew9-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew9-1024x718.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew9-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a href="https://amfissa.qodeinteractive.com/category/dense/" rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/top-tier-olive-trees/#respond" class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/top-tier-olive-trees/">
                                                        Top tier olive trees	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/top-tier-olive-trees/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2841 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/08/" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/best-quality-olives/">
                                                    <img width="1400" height="980" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew6.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew6-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew6-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew6-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew6-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a href="https://amfissa.qodeinteractive.com/category/dense/" rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/best-quality-olives/#respond" class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/best-quality-olives/">
                                                        Best quality olives	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/best-quality-olives/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2833 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/08/" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/olives-of-the-north/">
                                                    <img width="1400" height="980" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew5.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew5-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew5-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew5-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew5-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a href="https://amfissa.qodeinteractive.com/category/dense/" rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/olives-of-the-north/#respond" class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/olives-of-the-north/">
                                                        Olives of the north	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/olives-of-the-north/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-sm-3 col-md-4 col-lg-4 qodef-e qodef-blog-item qodef-grid-item  post-2835 post type-post status-publish format-standard has-post-thumbnail hentry category-dense tag-draw">
                                        <div class="qodef-e-inner">
                                            <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/08/" class="entry-date published updated">
                                            <span class="qodef-time-day">23</span>
                                            <span class="qodef-time-month">Aug</span>
                                            </a>
                                            <div class="qodef-e-media">
                                                <div class="qodef-e-media-image">
                                                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/testing-the-new-oil/">
                                                    <img width="1400" height="980" src="/images/bl-imgnew1.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew8.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew8-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew8-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew8-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew8-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="qodef-e-content">
                                                <div class="qodef-e-top-holder">
                                                    <div class="qodef-e-info">
                                                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                                                        by	Amber Reynolds</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a href="https://amfissa.qodeinteractive.com/category/dense/" rel="tag">Dense</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/testing-the-new-oil/#respond" class="qodef-e-info-comments-link">
                                                        0 Comments	</a>
                                                        <div class="qodef-info-separator-end"></div>
                                                    </div>
                                                </div>
                                                <div class="qodef-e-text">
                                                    <h4 itemprop="name" class="qodef-e-title entry-title">
                                                        <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/testing-the-new-oil/">
                                                        Testing the new oil	</a>
                                                    </h4>
                                                    <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut placerat quam lectusabitur dictum velit non lacus ornare </p>
                                                </div>
                                                <div class="qodef-e-bottom-holder">
                                                    <div class="qodef-e-left">
                                                        <div class="qodef-e-read-more">
                                                            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/testing-the-new-oil/" target="_self"> <span class="qodef-m-text">Read More</span></a> 
                                                        </div>
                                                    </div>
                                                    <div class="qodef-e-right qodef-e-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>