@{
    ViewData["Title"] = "Blog Detail";
}

<div class="qodef-grid-item qodef-page-content-section qodef-col--9">
    <div class="qodef-blog qodef-m qodef--single">
        <article class="qodef-blog-item qodef-e post-446 post type-post status-publish format-gallery has-post-thumbnail hentry category-amore tag-aspect post_format-post-format-gallery">
            <div class="qodef-e-inner">
                <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/07/" class="entry-date published updated">
                <span class="qodef-time-day">30</span>
                <span class="qodef-time-month">Jul</span>
                </a>
                <div class="qodef-e-media">
                    <div class="qodef-e-media-image">
<img width="1400" height="973" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img1.jpg" class="attachment-full size-full wp-post-image" alt="a" decoding="async" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img1.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img1-300x209.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img1-600x417.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img1-1024x712.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img1-768x534.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> </div>
                </div>
                <div class="qodef-e-content">
                    <div class="qodef-e-top-holder">
                    <div class="qodef-e-info">
                        <a itemprop="author" href="https://amfissa.qodeinteractive.com/author/amberreynolds/" class="qodef-e-info-author">
                        by	Amber Reynolds</a>
                        <div class="qodef-info-separator-end"></div>
                        <a href="https://amfissa.qodeinteractive.com/category/amore/" rel="tag">Amore</a>
                        <div class="qodef-info-separator-end"></div>
                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/trying-the-new-olives/#comments" class="qodef-e-info-comments-link">
                        2 Comments	</a>
                        <div class="qodef-info-separator-end"></div>
                    </div>
                    </div>
                    <div class="qodef-e-text">
                    <h1 itemprop="name" class="qodef-e-title entry-title">
                        Trying the new olives	
                    </h1>
                    <div data-elementor-type="wp-post" data-elementor-id="446" class="elementor elementor-446">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-938d203 elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="938d203" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e2b8193" data-id="e2b8193" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-43d2f35 elementor-widget elementor-widget-text-editor" data-id="43d2f35" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <style>/*! elementor - v3.10.2 - 29-01-2023 */
                                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}
                                            </style>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.</p>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-fb19443 elementor-widget elementor-widget-text-editor" data-id="fb19443" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-c59bbb6 elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="c59bbb6" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a80ceca" data-id="a80ceca" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-e7d698c elementor-widget elementor-widget-amfissa_core_single_image" data-id="e7d698c" data-element_type="widget" data-widget_type="amfissa_core_single_image.default">
                                        <div class="elementor-widget-container">
                                            <div class="qodef-shortcode qodef-m  qodef-single-image qodef-layout--default  ">
                                            <div class="qodef-m-image">
                                                <img width="1400" height="984" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img2.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img2.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img2-300x211.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img2-600x422.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img2-1024x720.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img2-768x540.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> 
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-adba0bd elementor-widget__width-auto elementor-widget elementor-widget-amfissa_core_custom_font" data-id="adba0bd" data-element_type="widget" data-widget_type="amfissa_core_custom_font.default">
                                        <div class="elementor-widget-container">
                                            <p class="qodef-shortcode qodef-m  qodef-custom-font qodef-custom-font-613 qodef-layout--simple" style="color: #000000;font-family: DM sans;font-size: 13px;line-height: 24px">"Olive Oil Field Norway"</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b413468" data-id="b413468" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-ed7e7bf elementor-widget elementor-widget-amfissa_core_single_image" data-id="ed7e7bf" data-element_type="widget" data-widget_type="amfissa_core_single_image.default">
                                        <div class="elementor-widget-container">
                                            <div class="qodef-shortcode qodef-m  qodef-single-image qodef-layout--default  ">
                                            <div class="qodef-m-image">
                                                <img width="1400" height="984" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img3.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img3.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img3-300x211.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img3-600x422.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img3-1024x720.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-img3-768x540.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> 
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-67ed0ff elementor-widget__width-auto elementor-widget elementor-widget-amfissa_core_custom_font" data-id="67ed0ff" data-element_type="widget" data-widget_type="amfissa_core_custom_font.default">
                                        <div class="elementor-widget-container">
                                            <p class="qodef-shortcode qodef-m  qodef-custom-font qodef-custom-font-900 qodef-layout--simple" style="color: #000000;font-family: DM sans;font-size: 13px;line-height: 24px">"Olive Oil Field Finland"</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-7d8ca8d elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="7d8ca8d" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ea37651" data-id="ea37651" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-111e873 elementor-widget elementor-widget-text-editor" data-id="111e873" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-fc2366e elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="fc2366e" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-26409ee" data-id="26409ee" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-ca046e9 elementor-widget elementor-widget-text-editor" data-id="ca046e9" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <blockquote>
                                            <p style="text-align: left;">“The team is part farmer, part archaeologist, always full of enthusiasm to inspire emotions through fragrances and flavors.”</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-a069d87 elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="a069d87" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-622482b" data-id="622482b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-a8fdc0d elementor-widget elementor-widget-text-editor" data-id="a8fdc0d" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    </div>
                    <div class="qodef-e-bottom-holder">
                    <div class="qodef-e-left qodef-e-info">
                        <div class="qodef-e-info-item qodef-e-info-tags">
                            <span class="qodef-e-info-tags-title">Tags:</span>
                            <a href="https://amfissa.qodeinteractive.com/tag/aspect/" rel="tag">Aspect</a> 
                        </div>
                    </div>
                    <div class="qodef-e-right qodef-e-info">
                        <div class="qodef-shortcode qodef-m  qodef-social-share clear qodef-layout--list ">
                            <span class="qodef-social-title qodef-custom-label">Share: </span> 
                            <ul class="qodef-shortcode-list">
                                <li class="qodef-facebook-share"> <a itemprop="url" class="qodef-share-link" href="#" onclick="window.open('https://www.facebook.com/sharer.php?u=https%3A%2F%2Famfissa.qodeinteractive.com%2Ftrying-the-new-olives%2F', 'sharer', 'toolbar=0,status=0,width=620,height=280');"> <span class="qodef-icon-fontkiko kikor kiko-facebook qodef-social-network-icon"></span> </a></li>
                                <li class="qodef-twitter-share"> <a itemprop="url" class="qodef-share-link" href="#" onclick="window.open('https://twitter.com/intent/tweet?text=Lorem+ipsum+dolor+sit+amet%2C+consetetur+sadipscing+elitr%2C+sed+diam+nonumy+eirmod+tempor++via+%40QodeInteractivehttps://amfissa.qodeinteractive.com/trying-the-new-olives/', 'popupwindow', 'scrollbars=yes,width=800,height=400');"> <span class="qodef-icon-fontkiko kikor kiko-twitter qodef-social-network-icon"></span> </a></li>
                                <li class="qodef-pinterest-share"> <a itemprop="url" class="qodef-share-link" href="#" onclick="popUp=window.open('https://pinterest.com/pin/create/button/?url=https%3A%2F%2Famfissa.qodeinteractive.com%2Ftrying-the-new-olives%2F&amp;description=Trying+the+new+olives&amp;media=https%3A%2F%2Famfissa.qodeinteractive.com%2Fwp-content%2Fuploads%2F2021%2F07%2Fbl-imgnew5.jpg', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;"> <span class="qodef-icon-fontkiko kikor kiko-pinterest qodef-social-network-icon"></span> </a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </article>
        <div id="qodef-single-post-navigation" class="qodef-m">
            <div class="qodef-m-inner">
                <a itemprop="url" class="qodef-m-nav qodef--prev" href="https://amfissa.qodeinteractive.com/the-high-quality-oil/">
                <span class="qodef-m-nav-image">
                <img width="150" height="150" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-150x150.jpg 150w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-100x100.jpg 100w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-650x650.jpg 650w" sizes="(max-width: 150px) 100vw, 150px"> </span>
                <span class="qodef-m-nav-info">
                <span class="qodef-m-nav-label">Prev</span> </span>
                </a>
                <a itemprop="url" class="qodef-m-nav qodef--next" href="https://amfissa.qodeinteractive.com/greek-olives-types/">
                <span class="qodef-m-nav-image">
                <img width="150" height="150" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-150x150.jpg 150w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-100x100.jpg 100w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-650x650.jpg 650w" sizes="(max-width: 150px) 100vw, 150px"> </span>
                <span class="qodef-m-nav-info">
                <span class="qodef-m-nav-label">Next</span> </span>
                </a>
            </div>
        </div>
        <div id="qodef-author-info" class="qodef-m">
            <div class="qodef-m-inner">
                <div class="qodef-m-image">
                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/author/amberreynolds/">
                    <img src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-author-300x300.png" width="160" height="160" alt="Amber Reynolds" class="avatar avatar-160 wp-user-avatar wp-user-avatar-160 alignnone photo"> </a>
                </div>
                <div class="qodef-m-content">
                    <h4 class="qodef-m-author vcard author">
                    <a itemprop="url" href="https://amfissa.qodeinteractive.com/author/amberreynolds/">
                    <span class="fn">Amber Reynolds</span>
                    </a>
                    </h4>
                    <p itemprop="description" class="qodef-m-description">Ut placerat quam lectusabitur dictum velit non lacus ornare tempor nullam quis augue leo aliquet mal esuada sit amet eget eros. Sed laoreet posuere velit sit amet varius. Nulla eget purus non erat fringilla sod ales vel a nulla. Cras sit amet tempus risus metus lupus.</p>
                </div>
            </div>
        </div>
        <div id="qodef-related-posts">
            <h3 class="qodef-m-title">Related Posts</h3>
            <div class="qodef-shortcode qodef-m qodef--no-bottom-space qodef-blog qodef--list qodef-item-layout--standard  qodef-grid qodef-layout--columns  qodef-gutter--normal qodef-col-num--3 qodef-item-layout--standard qodef--no-bottom-space qodef-pagination--off qodef-responsive--predefined qodef-swiper-pagination--on" data-options="{&quot;plugin&quot;:&quot;amfissa_core&quot;,&quot;module&quot;:&quot;blog\/shortcodes&quot;,&quot;shortcode&quot;:&quot;blog-list&quot;,&quot;post_type&quot;:&quot;post&quot;,&quot;next_page&quot;:&quot;2&quot;,&quot;max_pages_num&quot;:2,&quot;custom_class&quot;:&quot;qodef--no-bottom-space&quot;,&quot;behavior&quot;:&quot;columns&quot;,&quot;images_proportion&quot;:&quot;landscape&quot;,&quot;columns&quot;:&quot;3&quot;,&quot;columns_responsive&quot;:&quot;predefined&quot;,&quot;columns_1440&quot;:&quot;3&quot;,&quot;columns_1366&quot;:&quot;3&quot;,&quot;columns_1024&quot;:&quot;3&quot;,&quot;columns_768&quot;:&quot;3&quot;,&quot;columns_680&quot;:&quot;3&quot;,&quot;columns_480&quot;:&quot;3&quot;,&quot;space&quot;:&quot;normal&quot;,&quot;posts_per_page&quot;:3,&quot;orderby&quot;:&quot;date&quot;,&quot;order&quot;:&quot;DESC&quot;,&quot;additional_params&quot;:&quot;id&quot;,&quot;post_ids&quot;:&quot;452,442,448,454,137,2777&quot;,&quot;layout&quot;:&quot;standard&quot;,&quot;title_tag&quot;:&quot;h5&quot;,&quot;excerpt_length&quot;:&quot;100&quot;,&quot;hide_top_info&quot;:&quot;no&quot;,&quot;media_only_image&quot;:&quot;yes&quot;,&quot;pagination_type&quot;:&quot;no-pagination&quot;,&quot;object_class_name&quot;:&quot;AmfissaCore_Blog_List_Shortcode&quot;,&quot;taxonomy_filter&quot;:&quot;category&quot;,&quot;additional_query_args&quot;:{&quot;orderby&quot;:&quot;post__in&quot;,&quot;post__in&quot;:[&quot;452&quot;,&quot;442&quot;,&quot;448&quot;,&quot;454&quot;,&quot;137&quot;,&quot;2777&quot;]},&quot;space_value&quot;:15}">
                <div class="qodef-grid-inner clear">
                    <article class="qodef-e qodef-blog-item qodef-grid-item qodef-item--landscape post-452 post type-post status-publish format-audio has-post-thumbnail hentry category-amore tag-aspect post_format-post-format-audio">
                    <div class="qodef-e-inner qodef-media-only-image">
                        <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/07/" class="entry-date published updated"> <span class="qodef-time-day">30</span> <span class="qodef-time-month">Jul</span></a> 
                        <div class="qodef-e-media-image"> <a itemprop="url" href="https://amfissa.qodeinteractive.com/best-olives-of-italy/"> <img width="1400" height="980" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2.jpg" class="attachment-landscape size-landscape" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew2-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> </a> </div>
                        <div class="qodef-e-content qodef-only-image-content">
                            <div class="qodef-e-top-holder">
                                <div class="qodef-e-info"> </div>
                            </div>
                            <div class="qodef-e-text">
                                <h5 itemprop="name" class="qodef-e-title entry-title"> <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/best-olives-of-italy/"> Best olives of Italy	</a></h5>
                                <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
                            </div>
                            <div class="qodef-e-bottom-holder">
                                <div class="qodef-e-left">
                                <div class="qodef-e-read-more"> <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/best-olives-of-italy/" target="_self"> <span class="qodef-m-text">Read More</span></a> </div>
                                </div>
                                <div class="qodef-e-right qodef-e-info"> </div>
                            </div>
                        </div>
                    </div>
                    </article>
                    <article class="qodef-e qodef-blog-item qodef-grid-item qodef-item--landscape post-442 post type-post status-publish format-standard has-post-thumbnail hentry category-amore tag-aspect">
                    <div class="qodef-e-inner qodef-media-only-image">
                        <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/07/" class="entry-date published updated"> <span class="qodef-time-day">30</span> <span class="qodef-time-month">Jul</span></a> 
                        <div class="qodef-e-media-image"> <a itemprop="url" href="https://amfissa.qodeinteractive.com/the-high-quality-oil/"> <img width="1400" height="980" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7.jpg" class="attachment-landscape size-landscape" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew7-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> </a> </div>
                        <div class="qodef-e-content qodef-only-image-content">
                            <div class="qodef-e-top-holder">
                                <div class="qodef-e-info"> </div>
                            </div>
                            <div class="qodef-e-text">
                                <h5 itemprop="name" class="qodef-e-title entry-title"> <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/the-high-quality-oil/"> The high quality oil	</a></h5>
                                <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
                            </div>
                            <div class="qodef-e-bottom-holder">
                                <div class="qodef-e-left">
                                <div class="qodef-e-read-more"> <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/the-high-quality-oil/" target="_self"> <span class="qodef-m-text">Read More</span></a> </div>
                                </div>
                                <div class="qodef-e-right qodef-e-info"> </div>
                            </div>
                        </div>
                    </div>
                    </article>
                    <article class="qodef-e qodef-blog-item qodef-grid-item qodef-item--landscape post-448 post type-post status-publish format-quote has-post-thumbnail hentry category-amore tag-aspect post_format-post-format-quote">
                    <div class="qodef-e-inner qodef-media-only-image">
                        <a itemprop="dateCreated" href="https://amfissa.qodeinteractive.com/2021/07/" class="entry-date published updated"> <span class="qodef-time-day">30</span> <span class="qodef-time-month">Jul</span></a> 
                        <div class="qodef-e-media-image"> <a itemprop="url" href="https://amfissa.qodeinteractive.com/greek-olives-types/"> <img width="1400" height="980" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4.jpg" class="attachment-landscape size-landscape" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-imgnew4-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> </a> </div>
                        <div class="qodef-e-content qodef-only-image-content">
                            <div class="qodef-e-top-holder">
                                <div class="qodef-e-info"> </div>
                            </div>
                            <div class="qodef-e-text">
                                <h5 itemprop="name" class="qodef-e-title entry-title"> <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/greek-olives-types/"> Greek olives types	</a></h5>
                                <p itemprop="description" class="qodef-e-excerpt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
                            </div>
                            <div class="qodef-e-bottom-holder">
                                <div class="qodef-e-left">
                                <div class="qodef-e-read-more"> <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link qodef--icon-arrow" href="https://amfissa.qodeinteractive.com/greek-olives-types/" target="_self"> <span class="qodef-m-text">Read More</span></a> </div>
                                </div>
                                <div class="qodef-e-right qodef-e-info"> </div>
                            </div>
                        </div>
                    </div>
                    </article>
                </div>
            </div>
        </div>
        <div id="qodef-page-comments">
            <div id="qodef-page-comments-list" class="qodef-m">
                <h3 class="qodef-m-title">2 Comments</h3>
                <ul class="qodef-m-comments">
                    <li class="qodef-comment-item qodef-e ">
                    <div id="comment-27" class="qodef-e-inner">
                        <div class="qodef-e-image"><img src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/pexels-anna-shvets-4672555-100x100.png" width="70" height="70" alt="Diana Wade" class="avatar avatar-70 wp-user-avatar wp-user-avatar-70 alignnone photo"></div>
                        <div class="qodef-e-content">
                            <span class="qodef-e-title vcard"><span class="fn">Diana Wade</span></span>
                            <div class="qodef-e-date commentmetadata">
                                <a href="https://amfissa.qodeinteractive.com/trying-the-new-olives/#comment-27">2 years ago</a>
                            </div>
                            <div class="qodef-e-text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.<br>
                                eirmod tempor invidunt ut lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
                                </p>
                            </div>
                            <div class="qodef-e-links">
                                <a rel="nofollow" class="comment-reply-link" href="https://amfissa.qodeinteractive.com/trying-the-new-olives/?replytocom=27#respond" data-commentid="27" data-postid="446" data-belowelement="comment-27" data-respondelement="respond" data-replyto="Reply to Diana Wade" aria-label="Reply to Diana Wade">Reply</a> 
                            </div>
                        </div>
                    </div>
                    <ul class="children">
                        <li class="qodef-comment-item qodef-e ">
                            <div id="comment-28" class="qodef-e-inner">
                                <div class="qodef-e-image"><img src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/pexels-alexander-stemplewski-2906664-100x100.png" width="70" height="70" alt="Megan Fox" class="avatar avatar-70 wp-user-avatar wp-user-avatar-70 alignnone photo"></div>
                                <div class="qodef-e-content">
                                <span class="qodef-e-title vcard"><span class="fn">Megan Fox</span></span>
                                <div class="qodef-e-date commentmetadata">
                                    <a href="https://amfissa.qodeinteractive.com/trying-the-new-olives/#comment-28">2 years ago</a>
                                </div>
                                <div class="qodef-e-text">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.<br>
                                        eirmod tempor invidunt ut lorem ipsum dolor.
                                    </p>
                                </div>
                                <div class="qodef-e-links">
                                    <a rel="nofollow" class="comment-reply-link" href="https://amfissa.qodeinteractive.com/trying-the-new-olives/?replytocom=28#respond" data-commentid="28" data-postid="446" data-belowelement="comment-28" data-respondelement="respond" data-replyto="Reply to Megan Fox" aria-label="Reply to Megan Fox">Reply</a> 
                                </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div id="qodef-page-comments-form">
                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/trying-the-new-olives/#respond" style="display:none;">Cancel reply</a></small></h3>
                    <form action="https://amfissa.qodeinteractive.com/wp-comments-post.php" method="post" id="commentform" class="qodef-comment-form">
                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> <span class="required-field-message">Required fields are marked <span class="required">*</span></span></p>
                    <p class="comment-form-comment">
                        <label for="comment"></label>
                        <textarea id="comment" name="comment" placeholder="Your Comment *" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                    </p>
                    <div class="qodef-grid qodef-layout--columns qodef-col-num--2">
                        <div class="qodef-grid-inner">
                            <div class="qodef-grid-item">
                                <label for="author">Name*</label>
                                <p class="comment-form-author">
                                <input id="author" name="author" placeholder="Your Name *" type="text" value="" size="30" maxlength="245" required="required">
                                </p>
                            </div>
                            <div class="qodef-grid-item">
                                <p class="comment-form-email"><label for="email">Email*</label>
                                <input id="email" name="email" placeholder="Your Email *" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required="required">
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="comment-form-url">
                        <input id="url" name="url" placeholder="Website" type="text" value="" size="30" maxlength="200">
                    </p>
                    <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
                    <p class="form-submit">
                        <button name="submit" type="submit" id="submit" class="qodef-button qodef-layout--filled" value="Post Comment">
                            <span class="qodef-m-text">Post Comment</span>
                    <div class="qodef-btn-fill-color" style="height: 56.8906px;"></div></button> <input type="hidden" name="comment_post_ID" value="446" id="comment_post_ID">
                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                    </p>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="qodef-grid-item qodef-page-sidebar-section qodef-col--3">
        <aside id="qodef-page-sidebar" role="complementary">
            <div id="amfissa_core_author_info-2" class="widget widget_amfissa_core_author_info" data-area="qodef-main-sidebar">
                <div class="widget qodef-author-info">
                    <a itemprop="url" class="qodef-author-info-image" href="https://amfissa.qodeinteractive.com/author/amberreynolds/">
                    <img src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/07/bl-author-300x300.png" width="160" height="160" alt="Amber Reynolds" class="avatar avatar-160 wp-user-avatar wp-user-avatar-160 alignnone photo"> </a>
                    <h5 class="qodef-author-info-name vcard author">
                        <a itemprop="url" href="https://amfissa.qodeinteractive.com/author/amberreynolds/">
                        <span class="fn">Amber Reynolds</span>
                        </a>
                    </h5>
                    <p itemprop="description" class="qodef-author-info-description">Ut placerat quam lectusabitur dictum velit non lacus ornare tempor nullam quis augue leo aliquet mal esuada sit amet eget eros. Sed laoreet posuere velit sit amet varius. Nulla eget purus non erat fringilla sod ales vel a nulla. Cras sit amet tempus risus metus lupus.</p>
                </div>
            </div>
            <div id="amfissa_core_blog_list-2" class="widget widget_amfissa_core_blog_list" data-area="qodef-main-sidebar">
                <h5 class="qodef-widget-title">Related posts</h5>
                <div class="qodef-shortcode qodef-m  qodef-blog qodef-item-layout--simple  qodef-grid qodef-layout--columns  qodef-gutter--tiny qodef-col-num--1 qodef-item-layout--simple qodef--no-bottom-space qodef-pagination--off qodef-responsive--predefined qodef-swiper-pagination--on" data-options="{&quot;plugin&quot;:&quot;amfissa_core&quot;,&quot;module&quot;:&quot;blog\/shortcodes&quot;,&quot;shortcode&quot;:&quot;blog-list&quot;,&quot;post_type&quot;:&quot;post&quot;,&quot;next_page&quot;:&quot;2&quot;,&quot;max_pages_num&quot;:14,&quot;behavior&quot;:&quot;columns&quot;,&quot;images_proportion&quot;:&quot;full&quot;,&quot;columns&quot;:&quot;1&quot;,&quot;columns_responsive&quot;:&quot;predefined&quot;,&quot;columns_1440&quot;:&quot;1&quot;,&quot;columns_1366&quot;:&quot;1&quot;,&quot;columns_1024&quot;:&quot;1&quot;,&quot;columns_768&quot;:&quot;1&quot;,&quot;columns_680&quot;:&quot;1&quot;,&quot;columns_480&quot;:&quot;1&quot;,&quot;space&quot;:&quot;tiny&quot;,&quot;posts_per_page&quot;:&quot;3&quot;,&quot;orderby&quot;:&quot;date&quot;,&quot;order&quot;:&quot;DESC&quot;,&quot;tax&quot;:&quot;category&quot;,&quot;layout&quot;:&quot;simple&quot;,&quot;title_tag&quot;:&quot;h6&quot;,&quot;hide_top_info&quot;:&quot;no&quot;,&quot;is_widget_element&quot;:&quot;yes&quot;,&quot;pagination_type&quot;:&quot;no-pagination&quot;,&quot;object_class_name&quot;:&quot;AmfissaCore_Blog_List_Shortcode&quot;,&quot;taxonomy_filter&quot;:&quot;category&quot;,&quot;space_value&quot;:5}">
                    <div class="qodef-grid-inner clear">
                        <article class="qodef-e qodef-blog-item qodef-grid-item qodef-item--full post-2888 post type-post status-publish format-standard has-post-thumbnail hentry category-efigy tag-extract">
                        <div class="qodef-e-inner">
                            <div class="qodef-e-media-image"> <a itemprop="url" href="https://amfissa.qodeinteractive.com/the-root-of-the-tree/"> <img width="1400" height="980" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew10.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew10.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew10-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew10-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew10-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew10-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> </a> </div>
                            <div class="qodef-e-content">
                                <div class="qodef-e-text">
                                    <h6 itemprop="name" class="qodef-e-title entry-title"> <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/the-root-of-the-tree/"> The root of the tree	</a></h6>
                                </div>
                            </div>
                        </div>
                        </article>
                        <article class="qodef-e qodef-blog-item qodef-grid-item qodef-item--full post-2887 post type-post status-publish format-standard has-post-thumbnail hentry category-efigy tag-extract">
                        <div class="qodef-e-inner">
                            <div class="qodef-e-media-image"> <a itemprop="url" href="https://amfissa.qodeinteractive.com/greco-italian-olive/"> <img width="1400" height="980" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew12.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew12.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew12-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew12-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew12-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew12-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> </a> </div>
                            <div class="qodef-e-content">
                                <div class="qodef-e-text">
                                    <h6 itemprop="name" class="qodef-e-title entry-title"> <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/greco-italian-olive/"> Greco-Italian olive	</a></h6>
                                </div>
                            </div>
                        </div>
                        </article>
                        <article class="qodef-e qodef-blog-item qodef-grid-item qodef-item--full post-2886 post type-post status-publish format-standard has-post-thumbnail hentry category-efigy tag-extract">
                        <div class="qodef-e-inner">
                            <div class="qodef-e-media-image"> <a itemprop="url" href="https://amfissa.qodeinteractive.com/water-cooled-olive/"> <img width="1400" height="980" src="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew11.jpg" class="attachment-full size-full" alt="a" decoding="async" loading="lazy" srcset="https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew11.jpg 1400w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew11-300x210.jpg 300w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew11-600x420.jpg 600w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew11-1024x717.jpg 1024w, https://amfissa.qodeinteractive.com/wp-content/uploads/2021/08/bl-imgnew11-768x538.jpg 768w" sizes="(max-width: 1400px) 100vw, 1400px"> </a> </div>
                            <div class="qodef-e-content">
                                <div class="qodef-e-text">
                                    <h6 itemprop="name" class="qodef-e-title entry-title"> <a itemprop="url" class="qodef-e-title-link" href="https://amfissa.qodeinteractive.com/water-cooled-olive/"> Water cooled olive	</a></h6>
                                </div>
                            </div>
                        </div>
                        </article>
                    </div>
                </div>
            </div>
            <div id="block-30" class="widget widget_block" data-area="qodef-main-sidebar">
                <div class="is-layout-flow wp-block-group">
                    <div class="wp-block-group__inner-container">
                        <div class="is-layout-flow wp-block-group">
                        <div class="wp-block-group__inner-container">
                            <h5 class="qodef-widget-title" style="margin: 0 0 7px;">Categories</h5>
                            <ul class="wp-block-categories-list wp-block-categories">
                                <li class="cat-item cat-item-21"><a href="https://amfissa.qodeinteractive.com/category/amore/">Amore</a></li>
                                <li class="cat-item cat-item-59"><a href="https://amfissa.qodeinteractive.com/category/bella/">Bella</a></li>
                                <li class="cat-item cat-item-61"><a href="https://amfissa.qodeinteractive.com/category/create/">Create</a></li>
                                <li class="cat-item cat-item-63"><a href="https://amfissa.qodeinteractive.com/category/dense/">Dense</a></li>
                                <li class="cat-item cat-item-65"><a href="https://amfissa.qodeinteractive.com/category/efigy/">Efigy</a></li>
                            </ul>
                        </div>
                        </div>
                        <div class="widget widget_amfissa_core_separator">
                        <div class="qodef-shortcode qodef-m  qodef-separator clear qodef-position--left">
                            <div class="qodef-m-line" style="border-color: #ffffff;width: 0px;border-bottom-width: 0px;margin-top: 28px;margin-bottom: 0px"></div>
                        </div>
                        </div>
                        <div class="is-layout-flow wp-block-group">
                        <div class="wp-block-group__inner-container">
                            <h5 class="qodef-widget-title">Newsletter</h5>
                            <div class="wp-block-contact-form-7-contact-form-selector">
                                <div class="wpcf7 js" id="wpcf7-f2045-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response">
                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                    <ul></ul>
                                    </div>
                                    <form action="/trying-the-new-olives/#wpcf7-f2045-o1" method="post" class="wpcf7-form init demo" aria-label="Contact form" novalidate="novalidate" data-status="init">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="2045">
                                        <input type="hidden" name="_wpcf7_version" value="5.7.3">
                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2045-o1">
                                        <input type="hidden" name="_wpcf7_container_post" value="0">
                                        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                    </div>
                                    <div class="qodef-sidebar-newsletter-form">
                                        <div class="qodef-input-name">
                                            <span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Enter your name" value="" type="text" name="your-name"></span>
                                        </div>
                                        <div class="qodef-input-email">
                                            <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="john.doe@example.com" value="" type="email" name="your-email"></span>
                                        </div>
                                        <button class="wpcf7-form-control wpcf7-submit qodef-button qodef-size--normal qodef-layout--filled qodef-m" type="submit">
                                            <span class="qodef-m-text">Submit</span>
                                            <div class="qodef-btn-fill-color" style="height: 56.8906px;"></div>
                                        </button>
                                    </div>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>