<<<<<<< HEAD
$fontWorkSan: 'Work Sans', sans-serif;
=======
$fontWorkSan: 'Work Sans', sans-serif;
$mobile-width: 600px;

/*background colors*/
$signinBackground: linear-gradient(180deg, rgba(235,215,230,1) 0%, rgba(228,235,251,1) 50%, rgba(238,241,243,1) 100%);
>>>>>>> authenticationWithIdentity
