/*background colors*/
body .container-fluid {
  background: rgb(240, 237, 244);
  background: linear-gradient(180deg, rgb(235, 215, 230) 0%, rgb(228, 235, 251) 50%, rgb(238, 241, 243) 100%);
  min-height: 100vh;
}
body .container-fluid .content {
  width: 80%;
  margin: 100px auto;
}
body .container-fluid .content .sign-up, body .container-fluid .content .sign-in {
  height: 100%;
  display: flex;
}
body .container-fluid .content .sign-up .auth-image, body .container-fluid .content .sign-in .auth-image {
  display: flex;
  justify-content: center;
}
body .container-fluid .content .sign-up .auth-image img, body .container-fluid .content .sign-in .auth-image img {
  width: 85%;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  body .container-fluid .content .sign-up .auth-image, body .container-fluid .content .sign-in .auth-image {
    display: none;
  }
}
body .container-fluid .content .sign-up .auth-info .auth-info-title p, body .container-fluid .content .sign-in .auth-info .auth-info-title p {
  font-size: 20px;
  text-align: right;
}
body .container-fluid .content .sign-up .auth-info .auth-info-title span a, body .container-fluid .content .sign-in .auth-info .auth-info-title span a {
  color: #66A9F1;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form, body .container-fluid .content .sign-in .auth-info .auth-info-form {
  padding-top: 100px;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form .form-caption, body .container-fluid .content .sign-in .auth-info .auth-info-form .form-caption {
  text-align: center;
  margin-bottom: 55px;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form .form-caption h1, body .container-fluid .content .sign-in .auth-info .auth-info-form .form-caption h1 {
  font-size: 50px;
  font-weight: 600;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form .form-caption p, body .container-fluid .content .sign-in .auth-info .auth-info-form .form-caption p {
  font-size: 24px;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form form, body .container-fluid .content .sign-in .auth-info .auth-info-form form {
  margin: auto;
  display: flex;
  flex-direction: column;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form form div.form-fields, body .container-fluid .content .sign-in .auth-info .auth-info-form form div.form-fields {
  width: 100%;
  margin-bottom: 10px;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form form div.form-fields .col-lg-6, body .container-fluid .content .sign-up .auth-info .auth-info-form form div.form-fields .col-lg-12, body .container-fluid .content .sign-in .auth-info .auth-info-form form div.form-fields .col-lg-6, body .container-fluid .content .sign-in .auth-info .auth-info-form form div.form-fields .col-lg-12 {
  margin-bottom: 20px;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form form div.form-fields .field-control, body .container-fluid .content .sign-in .auth-info .auth-info-form form div.form-fields .field-control {
  height: 65px;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  outline: none;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form form div.form-password-recovery, body .container-fluid .content .sign-in .auth-info .auth-info-form form div.form-password-recovery {
  width: 100%;
  margin-bottom: 35px;
  font-size: 18px;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form form div.form-password-recovery a, body .container-fluid .content .sign-in .auth-info .auth-info-form form div.form-password-recovery a {
  display: block;
  text-align: right;
}
body .container-fluid .content .sign-up .auth-info .auth-info-form form button, body .container-fluid .content .sign-in .auth-info .auth-info-form form button {
  width: 100%;
  border: none;
  color: #fff;
  background: #FE6B68;
  border-radius: 10px;
  height: 65px;
  font-size: 17px;
  box-shadow: 20px 40px 60px 40px #ebd7e6;
}
@media (max-width: 1200px) {
  body .container-fluid .content .sign-up .auth-info .auth-info-form, body .container-fluid .content .sign-in .auth-info .auth-info-form {
    padding-top: 50px;
  }
  body .container-fluid .content .sign-up .auth-info .sign-in form, body .container-fluid .content .sign-in .auth-info .sign-in form {
    width: 80%;
  }
  body .container-fluid .content .sign-up .auth-info .sign-up form, body .container-fluid .content .sign-in .auth-info .sign-up form {
    width: 90%;
  }
}
@media (max-width: 576px) {
  body .container-fluid .content .sign-up .auth-info .auth-info-title p, body .container-fluid .content .sign-in .auth-info .auth-info-title p {
    font-size: 15px;
  }
  body .container-fluid .content .sign-up .auth-info .auth-info-form .form-caption h1, body .container-fluid .content .sign-in .auth-info .auth-info-form .form-caption h1 {
    font-size: 40px;
  }
  body .container-fluid .content .sign-up .auth-info .auth-info-form .form-caption p, body .container-fluid .content .sign-in .auth-info .auth-info-form .form-caption p {
    font-size: 15px;
  }
  body .container-fluid .content .sign-up .auth-info .auth-info-form form, body .container-fluid .content .sign-in .auth-info .auth-info-form form {
    width: 100%;
  }
  body .container-fluid .content .sign-up .auth-info .auth-info-form form div.form-password-recovery, body .container-fluid .content .sign-in .auth-info .auth-info-form form div.form-password-recovery {
    font-size: 15px;
  }
}
body .container-fluid .content .sign-in form {
  width: 62%;
}
body .container-fluid .content .sign-in form .field-control {
  width: 100%;
}
body .container-fluid .content .sign-up form {
  width: 75%;
}
@media (max-width: 1600px) {
  body .container-fluid .content .sign-up form div.form-fields .row {
    display: block;
  }
  body .container-fluid .content .sign-up form div.form-fields .row .col-lg-6 {
    width: 100%;
  }
  body .container-fluid .content .sign-up form div.form-fields .row .col-lg-6 .field-control {
    width: 100%;
  }
}
/*# sourceMappingURL=authentication.css.map */