/*background colors*/
body {
  background: #FFFFFF;
  font-family: "Work Sans", sans-serif;
}
body a, body p {
  color: #111;
}
body img {
  user-select: none;
  -webkit-user-drag: none;
}

body .container-fluid {
  padding: 0;
}
body .container-fluid .header-area {
  position: relative;
}
body .container-fluid .header-area header {
  background-image: url("../images/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body .container-fluid .header-area header .navigation-bar {
  position: relative;
}
body .container-fluid .header-area header .navigation-bar .navbar .container {
  margin: 50px 0 35px;
}
body .container-fluid .header-area header .navigation-bar .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 4px;
}
body .container-fluid .header-area header .navigation-bar .nav a {
  font-size: 24px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 10px 9px;
}
body .container-fluid .header-area header .navigation-bar .nav > li {
  min-width: 150px;
}
body .container-fluid .header-area header .navigation-bar .nav .active a.parent-node, body .container-fluid .header-area header .navigation-bar .nav > li > a.parent-node:focus, body .container-fluid .header-area header .navigation-bar .nav > li > a.parent-node:hover {
  background: -webkit-linear-gradient(left, #2AF598, #009EFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
body .container-fluid .header-area header .navigation-bar .shopping-bag {
  position: absolute;
  right: 13%;
}
body .container-fluid .header-area header .navigation-bar .shopping-bag i {
  font-size: 32px;
  color: white;
}
body .container-fluid .header-area header .navigation-bar .shopping-bag div {
  height: 22px;
  width: 22px;
  background-image: url("../images/ellipse-5.png");
  background-repeat: no-repeat;
  position: absolute;
  right: -7px;
  top: 0;
}
body .container-fluid .header-area header .navigation-bar .shopping-bag div span {
  display: block;
  text-align: center;
}
body .container-fluid .header-area header .navigation-bar .navbar-header {
  position: relative;
}
@media (min-width: 768px) {
  body .container-fluid .header-area header .navigation-bar .navbar > .container {
    text-align: center;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav {
    float: none;
    display: inline-block;
    clear: none;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li {
    float: none;
    display: inline-block;
    position: relative;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li .menu-items {
    position: absolute;
    top: 100%;
    left: -32px;
    display: block;
    width: auto;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li .menu-items .submenu-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li .menu-items .submenu-inner ul.submenu {
    position: relative;
    top: auto;
    opacity: 1;
    visibility: visible;
    left: 0;
    width: 200px;
    margin: 0;
    padding: 15px 0;
    background-color: #222121;
    list-style: none;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li .menu-items .submenu-inner ul.submenu li.menu-item {
    padding: 0 8px 0 32px;
    position: relative;
    margin: 0;
    background: 0 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li .menu-items .submenu-inner ul.submenu li.menu-item a {
    position: relative;
    display: flex;
    white-space: normal;
    margin: 0;
    overflow: hidden;
    transition: padding 0.2s ease-out;
    padding-right: 15px;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 400;
    color: #f7f7f7;
    cursor: pointer;
    text-decoration: none;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li .menu-items-hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 10;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li .menu-items-shown {
    visibility: visible;
    height: 200px;
    opacity: 1;
    overflow: visible;
    z-index: 20;
    transition: opacity 0.2s ease-out;
  }
  body .container-fluid .header-area header .navigation-bar .navbar .navbar-nav > li li {
    text-align: left;
  }
  body .container-fluid .header-area header .navigation-bar .navbar-header {
    float: none;
    display: inline-block;
    width: 100%;
  }
  body .container-fluid .header-area header .navigation-bar .navbar-header .shopping-bag {
    margin-top: 4px;
    right: 0;
  }
  body .container-fluid .header-area header .navigation-bar .collapse.navbar-collapse#centerednav {
    float: none;
    display: inline-block !important;
    width: auto;
    clear: none;
  }
}
@media (max-width: 767px) {
  body .container-fluid .header-area header .navigation-bar {
    width: 90%;
  }
}
body .container-fluid .header-area header .header-banner {
  display: flex;
  flex-direction: column;
}
body .container-fluid .header-area header .header-banner h2, body .container-fluid .header-area header .header-banner p {
  color: white;
  text-align: center;
}
body .container-fluid .header-area header .header-banner h2 {
  font-weight: 700;
  font-size: 82px;
  line-height: 96px;
  width: 80%;
  margin: 0 auto 20px;
}
body .container-fluid .header-area header .header-banner p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  width: 40%;
  margin: 0 auto 30px;
}
@media (max-width: 768px) {
  body .container-fluid .header-area header .header-banner h2 {
    font-size: 42px;
    line-height: 60px;
  }
  body .container-fluid .header-area header .header-banner p {
    font-size: 18px;
    width: 60%;
  }
}
body .container-fluid .header-area header .header-banner-search {
  display: flex;
  justify-content: center;
}
body .container-fluid .header-area header .header-banner-search form {
  position: relative;
}
body .container-fluid .header-area header .header-banner-search input[type=search] {
  padding: 15px 70px 15px 30px;
  width: 463px;
  color: white;
  height: 65px;
  font-size: 20px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  outline: transparent;
}
body .container-fluid .header-area header .header-banner-search input[type=search]::placeholder {
  color: white;
}
body .container-fluid .header-area header .header-banner-search button[type=submit] {
  background-image: url("../images/ellipse-1.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10%;
  right: 2%;
}
body .container-fluid .header-area header .header-banner-search button[type=submit] iconify-icon {
  display: block;
  text-align: center;
  font-size: 35px;
  color: white;
}
@media (max-width: 768px) {
  body .container-fluid .header-area header .header-banner-search input[type=search] {
    width: 100%;
  }
}
body .container-fluid .header-area .header-background-gradient {
  background-image: url("../images/rectangle-1.png");
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
body .container-fluid .content {
  margin: 150px auto;
}
body .container-fluid .content .highlight {
  margin-bottom: 245.5px;
}
body .container-fluid .content .highlight .highlight-items {
  display: flex;
  align-items: center;
}
body .container-fluid .content .highlight .highlight-items .col-md-2 {
  padding: 0 0 0 12px;
}
body .container-fluid .content .highlight .highlight-items img {
  width: 55px;
}
body .container-fluid .content .highlight .highlight-items h4 {
  font-size: 25px;
}
body .container-fluid .content .highlight .highlight-items p {
  font-size: 15px;
  color: #828282;
}
body .container-fluid .content .highlight .col-md-4:nth-child(2) .highlight-items {
  justify-content: center;
}
body .container-fluid .content .highlight .col-md-4:nth-child(3) .highlight-items {
  justify-content: end;
}
@media (max-width: 990px) {
  body .container-fluid .content .highlight .highlight-items {
    justify-content: center !important;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  body .container-fluid .content .highlight {
    margin-bottom: 50px;
  }
}
body .container-fluid .content .best-seller {
  margin-bottom: 200.5px;
}
body .container-fluid .content .best-seller .row {
  display: flex;
  align-items: center;
}
body .container-fluid .content .best-seller .row .best-seller-title h1 {
  font-size: 45px;
}
body .container-fluid .content .best-seller .row .best-seller-title a {
  font-size: 20px;
}
body .container-fluid .content .best-seller .row .best-seller-title a:hover {
  text-decoration: none;
}
body .container-fluid .content .best-seller .row .best-seller-title img {
  width: 40px;
}
body .container-fluid .content .best-seller .row .col-md-3 {
  position: relative;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item {
  background: #C1D0E4;
  border-radius: 50px;
  height: 400px;
  display: flex;
  align-items: end;
  justify-content: center;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item img.plant-item {
  width: 250px;
  position: absolute;
  top: -115px;
  z-index: 1;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item img.product-shadow {
  width: 85px;
  position: absolute;
  top: 124px;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card {
  display: block;
  padding: 26px 28px;
  background: #FFFFFF;
  border-radius: 43px;
  filter: drop-shadow(0px 4px 30px rgba(221, 218, 218, 0.25));
  width: 100%;
  height: 220px;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card h4 {
  font-size: 24px;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card iconify-icon {
  color: #F2C94C;
  font-size: 20px;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card .product-price {
  display: flex;
  margin-top: 50px;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card .product-price span, body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card .product-price input {
  font-size: 30px;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card .product-price input {
  background-color: transparent;
  border: none;
  width: 80%;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card .product-price button {
  background-color: transparent;
  border: none;
  padding: 0;
}
body .container-fluid .content .best-seller .row .col-md-3 .product-item .product-card .product-price img {
  width: 45px;
}
@media (min-width: 768px) {
  body .container-fluid .content .best-seller {
    margin-bottom: 0;
  }
  body .container-fluid .content .best-seller .row {
    display: block;
  }
  body .container-fluid .content .best-seller .row .col-sm-6 {
    margin-bottom: 180px;
  }
}
@media (max-width: 768px) {
  body .container-fluid .content .best-seller {
    margin-bottom: 60px;
  }
  body .container-fluid .content .best-seller .row {
    flex-direction: column;
  }
  body .container-fluid .content .best-seller .row .best-seller-title {
    text-align: center;
  }
  body .container-fluid .content .best-seller .row .col-xs-10:not(:last-child) {
    margin-bottom: 180px;
  }
  body .container-fluid .content .best-seller .row .product-item .product-card .product-price {
    justify-content: space-between;
  }
}
body .container-fluid .content .reference {
  margin-bottom: 200.5px;
}
body .container-fluid .content .reference .reference-title {
  text-align: center;
  margin-bottom: 90px;
}
body .container-fluid .content .reference .reference-title h2 {
  font-size: 64px;
  margin-bottom: 27px;
}
body .container-fluid .content .reference .reference-title p {
  font-size: 24px;
  color: #4F4F4F;
}
body .container-fluid .content .reference .reference-collection {
  display: flex;
}
body .container-fluid .content .reference .reference-collection img {
  width: 100%;
}
body .container-fluid .content .reference .reference-collection .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body .container-fluid .content .reference {
    margin-bottom: 50px;
  }
  body .container-fluid .content .reference .reference-title {
    margin-bottom: 45px;
  }
  body .container-fluid .content .reference .reference-title h2 {
    font-size: 45px;
  }
  body .container-fluid .content .reference .reference-title p {
    font-size: 18px;
  }
  body .container-fluid .content .reference .reference-collection {
    display: block;
  }
  body .container-fluid .content .reference .reference-collection .col-xs-12:first-child img {
    margin-bottom: 50px;
  }
}
body .container-fluid .content .main-features .row {
  display: flex;
  align-items: center;
}
body .container-fluid .content .main-features .feature-content .feature-title {
  margin-bottom: 50px;
}
body .container-fluid .content .main-features .feature-content .feature-title h3 {
  font-size: 64px;
  margin-bottom: 27px;
  width: 80%;
}
body .container-fluid .content .main-features .feature-content .feature-title small {
  font-size: 24px;
  color: #4F4F4F;
}
body .container-fluid .content .main-features .feature-content .feature-points .row {
  margin-bottom: 32px;
}
body .container-fluid .content .main-features .feature-content .feature-points .col-md-9 p {
  font-size: 32px;
}
body .container-fluid .content .main-features .feature-content .feature-points .col-md-9 small {
  font-size: 16px;
  text-align: justify;
}
body .container-fluid .content .main-features .feature-image img {
  width: 100%;
}
@media (max-width: 1192px) {
  body .container-fluid .content .main-features .feature-content .feature-title h3 {
    width: 100%;
  }
}
@media (max-width: 990px) {
  body .container-fluid .content .main-features .row {
    display: block;
  }
  body .container-fluid .content .main-features .feature-content {
    margin-bottom: 0;
    text-align: center;
  }
  body .container-fluid .content .main-features .feature-content .feature-title {
    margin-bottom: 30px;
  }
  body .container-fluid .content .main-features .feature-content .feature-title h3 {
    width: 100%;
  }
  body .container-fluid .content .main-features .feature-content .feature-points .row {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  body .container-fluid .content .main-features .feature-content .feature-title h3 {
    font-size: 45px;
  }
  body .container-fluid .content .main-features .feature-content .feature-title small {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  body .container-fluid .content {
    margin: 50px auto;
  }
}

body .footer {
  background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
  color: white;
}
body .footer .container .footer-info {
  padding-top: 100px;
}
body .footer .container .footer-info .left div {
  position: relative;
}
body .footer .container .footer-info input[type=text] {
  padding: 15px 100px 15px 15px;
  color: white;
  height: 55px;
  width: 90%;
  font-size: 15px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  outline: transparent;
}
body .footer .container .footer-info input[type=text]::placeholder, body .footer .container .footer-info h5, body .footer .container .footer-info p {
  color: white;
}
body .footer .container .footer-info button {
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  border-radius: 50px;
  border: transparent;
  padding: 10px 20px;
  position: absolute;
  right: 38px;
  top: 7px;
}
@media (min-width: 1200px) {
  body .footer .container .footer-info button {
    right: 44px;
  }
}
@media (max-width: 991px) {
  body .footer .container .footer-info button {
    right: 80px;
  }
  body .footer .container .footer-info .col-sm-12 {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  body .footer .container .footer-info input[type=text] {
    width: 100%;
  }
  body .footer .container .footer-info button {
    right: 8px;
  }
  body .footer .container .footer-info .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .footer .container .footer-info .center, body .footer .container .footer-info .right {
    text-align: center;
  }
  body .footer .container .footer-info .center .row .col-sm-6, body .footer .container .footer-info .right .row .col-sm-6 {
    margin-bottom: 40px;
  }
}
body .footer .container .footer-info h5 {
  font-size: 23px;
  margin-bottom: 25px;
}
body .footer .container .footer-copyright p {
  color: white;
  text-align: center;
  margin: 25px 0 80px;
}
@media (max-width: 768px) {
  body .footer .container .footer-info {
    padding-top: 20px;
  }
  body .footer .container .footer-copyright p {
    margin-bottom: 40px;
  }
  body .footer .container hr {
    margin: 0;
  }
}

/* responsive */
@media (max-width: 1469px) {
  .container-fluid .header-area header {
    height: 990px;
  }
}
@media (min-width: 1470px) {
  .container-fluid .header-area header {
    height: 1040px;
  }
}
@media (min-width: 1575px) {
  .container-fluid .header-area header {
    height: 1189px;
  }
}
@media (min-width: 1730px) {
  .container-fluid .header-area header {
    height: 1289px;
  }
}
@media (min-width: 1880px) {
  .container-fluid .header-area header {
    height: 1389px;
  }
}
@media (min-width: 1880px) {
  .container-fluid .header-area header {
    height: 1389px;
  }
}
@media (min-width: 2020px) {
  .container-fluid .header-area header {
    height: 1489px;
  }
}
@media (min-width: 2110px) {
  .container-fluid .header-area header {
    height: 1500px;
  }
}
@media (min-width: 2190px) {
  .container-fluid .header-area header {
    height: 1550px;
  }
}
@media (min-width: 2260px) {
  .container-fluid .header-area header {
    height: 1600px;
  }
}
@media (min-width: 2340px) {
  .container-fluid .header-area header {
    height: 1620px;
  }
}
@media (min-width: 2410px) {
  .container-fluid .header-area header {
    height: 1700px;
  }
}
@media (min-width: 2480px) {
  .container-fluid .header-area header {
    height: 1750px;
  }
}
@media (min-width: 2555px) {
  .container-fluid .header-area header {
    height: 1800px;
  }
}
@media (min-width: 2655px) {
  .container-fluid .header-area header {
    height: 1850px;
  }
}
@media (min-width: 2755px) {
  .container-fluid .header-area header {
    height: 1900px;
  }
}
@media (min-width: 2855px) {
  .container-fluid .header-area header {
    height: 1950px;
  }
}
@media (min-width: 2920px) {
  .container-fluid .header-area header {
    height: 2000px;
  }
}
/*end responsive*/
/*# sourceMappingURL=index.css.map */